.navbar {
    padding: 20px;
    margin-bottom: 40px;
}  
.navbar .bwm-search {
      height: 50px;
      width: 300px;
    }
  
.navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #F44336;
    font-weight: 500;
}

.navbar-brand img {
    margin-top: 15px;
    height: 20px;
}
  
.nav-item {
    font-size: 14px;
}
  
.btn-bwm-search {
    border-color: #F44336;
    color: #F44336;
}

.btn-bwm-search:hover, .btn-bwm-search:focus, .btn-bwm-search:active {
    background-color: transparent;
    border-color: #F44336 !important;
    color: #F44336 !important;
    box-shadow: none;
}